<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .checked {
        color: rgb(231, 155, 13);
    }
    </style>
</head>

<body>
<h1 style="text-align: center;">Choose Your Favourite Restaurant</h1>
<br>
<hr>
<div class= "Restaurant1">
    <br>
    <h2>Saffron</h2>
    <img src="assets/three.jpg" alt="restaurant 1" height="230" width="300" align="left">
    <br><br>
    <div style="margin-left: 28%;">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <h4>Indira Nagar, Bengaluru</h4>
    <!-- <h4>You can  select from variety of flavours all at the same price!!</h4> -->
    <p class="price" data-price="100" style="font-size: 20px;">Breakfast, Thali, Continental</p>
    <button type="menu" (click)="goToRestaurant1()">Order</button>
    </div>

  </div>

<br>
<br>
<br>

<div class= "Restaurant2">
    <br><br><br>
    <h2>Bistro Cafe</h2>
    <img src="assets/five.jpg" alt="restaurant 1" height="230" width="300" align="left">
    <br><br>
    <div style="margin-left: 28%;">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <h4>Church Street, Bengaluru</h4>
        <!-- <h4>You can  select from variety of flavours all at the same price!!</h4> -->
        <p class="price" data-price="100" style="font-size: 20px;">Waffles, Sandwiches, Burgers</p>
        <button type="menu" (click)="goToRestaurant2()">Order</button>
    </div>

  </div>


<br>
<br>
<br>

  <div class= "Restaurant1">
    <br>
    <h2>Glen's Bakehouse</h2>
    <img src="assets/rest3.jpg" alt="restaurant 1" height="230" width="300" align="left">
    <br><br>
    <div style="margin-left: 28%;">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <h4>Ashok Nagar, Bengaluru</h4>
    <!-- <h4>You can  select from variety of flavours all at the same price!!</h4> -->
    <p class="price" data-price="100" style="font-size: 20px;">Bakery and Cake Shop</p>
    <button type="menu" (click)="goToRestaurant3()">Order</button>
    </div>

  </div>


</body>
</html>


