<html>
<head>
	<title>About Us</title>
	<link href="https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap" rel="stylesheet"> 

	<link href="https://fonts.googleapis.com/css?family=Sriracha|Zhi+Mang+Xing&display=swap" rel="stylesheet"> 

	<link href="https://fonts.googleapis.com/css?family=Courgette|Sriracha|Zhi+Mang+Xing&display=swap" rel="stylesheet"> 

	
	
</head>

<body>
	<h1 text-align="center"><i>FoodieZone</i></h1>
	<div class="about_box">

		<p >This place is for all the watering mouths.Our day starts with services for our customers and ends with services for our customers.</p>
		<p >It's all about different flavours for different occasions and events.</p>
		<br>
		<br>
		<p id="p3"><strong>GO GRAB YOUR BEST CHOICE!!!!!</strong></p>

	</div>

</body>


</html>